<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="item" class="com.example.task1.ItemImpl1" />


    <bean id="store" class="com.example.task1.Store">
        <constructor-arg type="com.example.task1.Item" index="0" name="item" ref="item" />
    </bean>



    <!--Set -->
<!--    <bean id="store2" class="com.example.task1.Store">-->
<!--        <property name="item" ref="item" />-->
<!--    </bean>-->

    <!--Autowiring -->
<!--    <bean id="store" class="com.example.task1.Store" autowire="byName">-->
<!--    </bean>-->
<!--    <bean id="item1" class="com.example.task1.ItemImpl1" lazy-init="true" />-->

</beans>
<!--<constructor-arg type="ItemImpl1" index="0" name="item" ref="item1" />-->